{% extends 'base.html' %}

{% block content %}
<div class="row max-row">
    <div class="large-3 columns">&nbsp;</div>
    <div class="large-6 columns">
        <h2>Add new feed</h2>
        <p class="lead">Your couch.  It is mine.</p>
        <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
        <form action="/feeds/add_tag/" method="post">
            {% csrf_token %}
            <p>
                {{ form.title.errors }}
                {{ form.title.label_tag }} {{ form.title }}
            </p>
            <input type="submit" class="small button">
        </form>
    </div>
    <div class="large-3 columns"></div>
</div>
{% endblock %}