{% extends 'base.html' %}

{% load staticfiles %}

{% block hederscripts %}
    {{ block.super }}
    <script src="{% static "js/models/HomeModel.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row max-row">
        <div class="large-2 columns borderright main-column scroll-pane" id="sidebar-1">
            <div>
            <ul class="side-nav">
                <li><a href="#" data-bind="click: 
                    function(data, event) { 
                        reloadItems('/feeds/load_items/', data, event) 
                    }
                    ">All</a></li>
                <li class="divider"></li>
                {% for tag in tags %}
                <li><a href="" data-bind="click: 
                        function(data, event) { 
                            reloadItems('/feeds/load_items/tag/{{tag.id}}/', data, event) 
                        }"
                    >{{ tag.title }}</a>
                <!-- <li class="divider"></li> -->
                    <ul>
                    {% for feed in tag.feeds.all %}
                    <li><a href="#" data-bind="click: 
                        function(data, event) { 
                            reloadItems('/feeds/load_items/{{feed.id}}/', data, event) 
                        }
                    ">{{feed.title}}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                <li class="divider">
                {% endfor %}

                {% for feed in feeds %}
                <li><a href="#" data-bind="click: 
                    function(data, event) { 
                        reloadItems('/feeds/load_items/{{feed.id}}/', data, event) 
                    }
                ">{{feed.title}}</a></li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="large-3 columns borderright main-column scroll-pane" id="sidebar-2">
            <div data-bind="foreach: items">
                <div class="feeditem-div" data-bind="css: { readed: isRead }">
                    <h6 data-bind="
                        html: title, 
                        click: function(data, event) { 
                                    $parent.reloadMainContent(id, data, event) 
                                }
                        "></h6>
                    <p data-bind="text: summary"></p>
                    <div class="date-div" data-bind="html: date"></div>
                    <hr />
                </div>
            </div>
        </div>
        <div class="large-6 columns main-column scroll-pane" id="main-content-area" >
            <h2 data-bind="html: mainTitle"></h2>
            <div class="date-div" data-bind="html: mainDate"></div>
            <div data-bind="html: mainContent" class="main-post-content"></div>
        </div>
    </div>
{% endblock %}