{% extends 'base.html' %}
{% load feed_form tag_form %}

{% block content %}
<div class="row max-row">
    <div class="large-1 columns">&nbsp;
    </div>
    <div class="large-9 columns">
        <ul class="settings">
        {% for tag in tags %}
        <li><a href="#" class="edit-link">{{ tag.title }}</a> <a href="/feeds/remove_tag/{{tag.id}}" class="remove-link">x</a>
        <!-- <li class="divider"></li> -->
            {% tag_form tag %}
            <ul class="settings">
            {% for feed in tag.feeds.all %}
            <li><a href="#" class="edit-link">{{feed.title}}</a> <a href="/feeds/remove/{{feed.id}}" class="remove-link">x</a>
                {% feed_form feed %}
            </li>
            {% endfor %}
            </ul>
        </li>
        <!-- <li class="divider"> -->
        {% endfor %}

        {% for feed in feeds %}
        <li><a href="#" class="edit-link">{{feed.title}}</a> <a href="/feeds/remove/{{feed.id}}" class="remove-link">x</a>
            {% feed_form feed %}
        </li>
        {% endfor %}
        </ul>
    </div>
    <div class="large-2 columns">&nbsp;
    </div>
</div>
{% endblock %}