{% extends 'base.html' %}

{% block content %}
<div class="row max-row">
    <div class="large-1 columns">&nbsp;
    </div>
    <div class="large-9 columns">
        <ul class="settings">
        {% for tag in tags %}
        <li><a href="#">{{ tag.title }}</a>
        <!-- <li class="divider"></li> -->
            <ul class="settings">
            {% for feed in tag.feeds.all %}
            <li><a href="#">{{feed.title}}</a> &nbsp;<a href="">edit</a>
                <!-- <form>
                    <label>Tile</label>
                    <input type="text">
                    <label>Feed</label>
                    <input type="text">
                    <label>Tags</label>
                    <select>
                        <option></option>
                        <option></option>
                    </select>
                </from> -->
            </li>
            {% endfor %}
            </ul>
        </li>
        <!-- <li class="divider"> -->
        {% endfor %}

        {% for feed in feeds %}
        <li><a href="#">{{feed.title}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="large-2 columns">&nbsp;
    </div>
</div>
{% endblock %}