.max-row {
    max-width: 100% ! important;
}

.borderright {
    border-right:solid 1px #dddddd;
    overflow: auto;
}

#main-content-area{
    overflow: auto;
}

.top-bar {
    margin-bottom: 0px ! important;
}

.main-column{
    padding-top: 20px;
}

.feeditem-div{
    cursor: pointer;
}

.scroll-pane{
    outline: none;
}

.borderright .readed{
    color:#aaa;
}

.borderright .readed h6{
    color:#999;
}

.feeditem-div{
    font-size: 12px;
}

.date-div{
    text-align: right;
    font-size: 12px;
}

div.main-post-content {
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
}

div#sidebar-1 .side-nav li a{
    display: inline ! important;
}

div#sidebar-1 .side-nav li span{
    padding-right: 3px;
    cursor: pointer;
    color: #777;
}
div.main-options{
    text-align: right;
    font-size: 12px;
}

div.bottom-options{
    text-align: center;
    font-size: 12px;
    padding-left: 50 ! important;
}

div.bottom-options a{
    padding-left: 50px;
}