.max-row {
    max-width: 100% ! important;
}

.borderright {
    border-right:solid 1px #dddddd;
    overflow: auto;
}

#main-content-area{
    overflow: auto;
}

.top-bar {
    margin-bottom: 0px ! important;
}

.main-column{
    padding-top: 20px;
}

.feeditem-div{
    cursor: pointer;
}

.scroll-pane{
    outline: none;
}

.borderright .readed{
    color:#aaa;
}

.borderright .readed h6{
    color:#999;
}

.feeditem-div{
    font-size: 12px;
}

.date-div{
    text-align: right;
    font-size: 12px;
}