.max-row {
    max-width: 100% ! important;
}

.borderright {
    border-right:solid 1px #dddddd;
    overflow: auto;
}

#main-content-area{
    overflow: auto;
}

.top-bar {
    margin-bottom: 0px ! important;
}

.main-column{
    padding-top: 20px;
}

.feeditem-div{
    cursor: pointer;
}

.scroll-pane{
    outline: none;
}

.borderright .readed{
    color:#aaa;
}

.borderright .readed h6{
    color:#999;
}

.feeditem-div{
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.date-div{
    text-align: right;
    font-size: 12px;
}

div.main-post-content {
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
}

div#sidebar-1 .side-nav li a{
    display: inline ! important;
}

div#sidebar-1 .side-nav li span{
    padding-right: 3px;
    cursor: pointer;
    color: #777;
}
div.main-options{
    text-align: right;
    font-size: 12px;
}

div.bottom-options{
    text-align: center;
    font-size: 12px;
    padding-left: 50 ! important;
}

div.bottom-options a{
    /*padding-left: 50px;*/
}

.filter-bar {
    position: relative;
    height: 45px;
    background: #f5f5f5;
    padding: 12px 14px 11px 14px;
    border-top: 1px solid #ddd;
}

.isetSelected {
    background: #f5f5f5;
    box-shadow: inset 1px 1px 3px #ddd;
}
.feeds-navigation{
    padding: 10px;
}

.item-content{
    padding: 20px 30px 0 0;
}

ul {
    list-style: none;
}

ul.settings form {
    display: none;
}

ul.settings a.remove-link{
    color: red;
}