<html>
    <head>
        {% load staticfiles %}
        {% block hederscripts %}
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/foundation.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %}">
        <link rel="stylesheet" href="{% static "css/jquery.jscrollpane.css" %}" rel="stylesheet" media="all" />

        <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>
        <script src="{% static "js/vendor/jquery.js" %}"></script>
        <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->
        <script src="{% static "js/foundation/foundation.js" %}"></script>
        <script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
        <script src="{% static "js/knockout-2.2.1.js" %}"></script>
        <script src="{% static "js/jquery.mousewheel.js" %}"></script>
        <script src="{% static "js/jquery.jscrollpane.js" %}"></script>
        <script src="{% static "js/app.js" %}"></script>
        <script type="text/javascript">$(document).foundation();</script>
        {% endblock %}
    </head>

    <body>
        <!-- Header and Nav -->
        <nav class="top-bar">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <h1>
                  <a href="/">
                    Reader
                  </a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="divider"></li>
                    <li class="/*has-dropdown*/">
                        <a class="active" href="#" data-reveal-id="add-feed-modal">Add Feed</a>
                        <!-- <ul class="dropdown">
                            <li><label>Section Name</label></li>
                            <li><a href="#" class="">Dropdown Level 1</a></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li class="divider"></li>
                            <li><label>Section Name</label></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li class="divider"></li>
                            <li><a href="#">See all &rarr;</a></li>
                        </ul> -->
                    </li>
                    <li><a class="active" href="#" data-reveal-id="add-tag-modal">Add Tag</a></li>
                    <li class="divider"></li>
                    <!-- <li><a href="#">Main Item 2</a></li>
                    <li class="divider"></li>
                    <li class="has-dropdown">
                        <a href="#">Main Item 3</a>
                        <ul class="dropdown">
                            <li><a href="#">Dropdown Option</a></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li class="divider"></li>
                            <li><a href="#">See all &rarr;</a></li>
                        </ul>
                    </li> -->
                 
                </ul>

                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="divider"></li>
                    <li class="has-dropdown"><a class="active " href="#">Settings</a>
                        <ul class="dropdown">
                            <li><a href="#">Tags</a></li>
                            <li><a href="#">Feeds</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Import</a></li>
                    <li><a href="#">Logout</a></li>
                    <!-- <li class="has-dropdown">
                        <a href="#">Main Item 4</a>
                        <ul class="dropdown">
                            <li><label>Section Name</label></li>
                            <li class="has-dropdown">
                                <a href="#" class="">Has Dropdown, Level 1</a>
                                <ul class="dropdown">
                                    <li><a href="#">Dropdown Options</a></li>
                                    <li><a href="#">Dropdown Options</a></li>
                                    <li class="has-dropdown">
                                        <a href="#">Has Dropdown, Level 2</a>
                                        <ul class="dropdown test">
                                            <li><a href="#">Subdropdown Option</a></li>
                                            <li><a href="#">Subdropdown Option</a></li>
                                            <li><a href="#">Subdropdown Option</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Subdropdown Option</a></li>
                                    <li><a href="#">Subdropdown Option</a></li>
                                    <li><a href="#">Subdropdown Option</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li class="divider"></li>
                            <li><label>Section Name</label></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li class="divider"></li>
                            <li><a href="#">See all &rarr;</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Main Item 5</a></li>
                    <li class="divider"></li>
                    <li class="has-dropdown">
                        <a href="#">Main Item 6</a>
                        <ul class="dropdown">
                            <li><a href="#">Dropdown Option</a></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li><a href="#">Dropdown Option</a></li>
                            <li class="divider"></li>
                            <li><a href="#">See all &rarr;</a></li>
                        </ul>
                    </li> -->
                </ul>
            </section>
        </nav>


        <!-- End Header and Nav -->

        <!-- Main Grid Section -->


        <!-- End Grid Section -->

        {% block content %}
        {% endblock %}
        {% block addfeedmodal %}
        <div id="add-feed-modal" class="reveal-modal">
            <h2>Add new feed</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            <form action="/feeds/add/" method="post">
                {% csrf_token %}
                <p>
                    {{ form.url.errors }}
                    {{ form.url.label_tag }} {{ form.url }}
                </p>
                <p>
                    {{ form.tags.errors }}
                    {{ form.tags.label_tag }} {{ form.tags }}
                </p>
                <input type="submit" class="small button">
            </form>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        {% endblock %}

        {% block addtagmodal %}
        <div id="add-tag-modal" class="reveal-modal">
            <h2>Add new tag</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            <form action="/feeds/add_tag/" method="post">
                {% csrf_token %}
                <p>
                    {{ tagform.title.errors }}
                    {{ tagform.title.label_tag }} {{ tagform.title }}
                </p>
                <input type="submit" class="small button">
            </form>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        {% endblock %}
    </body>
</html>